.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  font-family: "Jost";
}

.logo {
  padding: 10px;
}

.play-button {
  padding: 10px;
}

.play-button button {
  height: 100%;
  width: 180px;
  outline: none;
  border: 1px solid #fff;
  border-bottom: none;
  background-color: rgba(0, 128, 105, 0.5);
  color: #ebebeb;
  font-size: 24px;
  text-align: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 128, 105, 0.2);
  line-height: 35px;
}

.play-button button:hover {
  background-color: rgba(0, 128, 105, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 128, 105, 0.3);
  cursor: pointer;
}

.play-button button:active {
  background-color: rgba(0, 128, 105, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 128, 105, 0.5);
}

.logout-button button {
  height: 100%;
  width: 180px;
  outline: none;
  border: 1px solid rgba(0, 128, 105, 0.2);
  border-bottom: none;
  background-color: #fff;
  color: rgba(0, 128, 105, 0.5);
  font-size: 24px;
  text-align: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 128, 105, 0.2);
  line-height: 35px;
}

.logout-button button:hover {
  box-shadow: 0px 4px 4px rgba(0, 128, 105, 0.5);
  cursor: pointer;
}

.logout-button button:active {
  background-color: rgba(0, 128, 105, 0.1);
}

@media screen and (max-width: 500px) {
  .play-button button {
    font-size: 20px;
    width: 200px;
  }
}
